<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body style="margin: 10px 93px;">
    <h1 style="text-align: center;" >اضف عميل</h1>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
